@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  display: none;
} */

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background-image: url("./img/KampusWk.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 0 11rem;
  background-color: rgba(40, 150, 223, 0.7);
}

section {
  margin-bottom: 5.5rem;
}

.title-section {
  text-align: center;
  width: 100%;
  margin-bottom: 5.5rem;
}

.title-section h3 {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 520;
  padding: 1.2rem 0;
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}

.btn {
  color: #ffffff;
  background-color: blue;
  padding: 10px 24px;
  border-radius: 2px;
}

.btn:hover {
  background-color: rgb(50, 50, 255);
}

.btn:active {
  transition: 0.2s;
  background-color: #fff;
  color: blue;
}

.content-wrap {
  width: 450px;
}

section {
    display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ------------------- Nilai Terbesar ----------------- */

.nilai-terbesar .content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nilai-terbesar .cont-left {
  display: flex;
  flex-direction: column;
}

.cont-left input {
  padding: 8px 12px;
  height: 40px;
  border-radius: 2px;
}

.nilai-terbesar .cont-left :nth-child(even) {
  margin: 40px 0;
}

.cont-right .result-wrap {
  height: 120px;
  width: 220px;
  background-color: #fff;
  padding: 10px;
  margin-top: 40px;
}

/* ------------------ Ganjil Atau Genap ---------------- */

  .ganjil-genap .cont-top {
    margin-bottom: 40px;
    width: 450px;
    display: flex;
    justify-content: space-between;
  }

  .ganjil-genap input {
      padding: 8px 12px;
  height: 40px;
  width: 192px;
  border-radius: 2px;
  }

.ganjil-genap .result-wrap {
  padding: 20px 0 0 20px;
  height: 120px;
  width: 450px;
  background-color: #fff;
}

/* ------------------ On & Off ---------------- */

.on-of .content-wrap {
  display: flex;
}

.on-of input {
  width: 155px;
}

.on-of .cont-lft-bottom {
  display: flex;
  flex-direction: column;
}

.on-of .cont-lft-bottom :nth-child(odd) {
  margin: 40px 0;
}

.on-of .btn-turn {
  padding: 10px 0;
}

.on-of .cont-right {
  width: 220px;
  height: 200px;
  background-color: #ffffff53;
  margin-left: 40px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on-of .cont-right img {
  width: 100px;
  height: 165px;  
}

/* ------------------ Diskon ---------------- */

.diskon .content-wrap {
  display: flex;
  flex-direction: row;
}

.diskon .cont-left :nth-child(even) {
  margin: 40px 0;
}